/*no va dentro de ningun condicional o media querie y es lo que llamamos escritorio primero
1400 mayor 
*/
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anuphan', sans-serif;
}

.header{
    height: 100vh;
   
}
.colorGris{
   background-color: rgb(53,58,64);
}
.ulHeader{
    background-color:pink;
}
.navbar-dark .navbar-nav .colorVerde{
    color: #2AA145;
}
.headerNav{
    height: 25%;
}
#comprarTickets{
    color:#2AA145;
}
.imgnormalizada img {
    background:linear-gradient(to bottom,#00000026, #000000c2,#00000026);
    width: 100%;
    height: 93vh !important;
}
.contenedorTextConf{
    position: absolute; 
    right: 15%;
    bottom: 10%; /* Cambiar bottom por top y los píxeles que necesites */
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.30); /* Añadir para conseguir el fondo con opacidad */
}

.contenedorTextConf h1{
    margin-bottom: 1rem;
}
.contenedorTextConf p{
    margin-bottom: 1rem;
}
.tituloRadores{
    padding-top: 1rem;
    text-align: center;
}
.card img{
    height: 500px;
    object-fit: cover;
    border-radius: 4% 4% 0px 0px;
}
.temario{
    display: flex;
}
#tituloCardJavascript{
    margin-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid #F5DC1D;
    background-color: #F5DC1D;
    color: white;
    font-weight: bold;
}
#tituloCardReact{
    margin-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid #5FE2FA;
    background-color: #5FE2FA;
    color: white;
    font-weight: bold;
}
#tituloCardPython{
    margin-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid #3E7FB0;
    background-color: #3E7FB0;
    color: white;
    font-weight: bold;
}
#tituloCardDjango{
    margin-right: 0.8rem;
    border-radius: 15%;
    background-color:#092D1F;
    color: white;
}
#tituloCardJava{
    margin-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid #FA9900;
    background-color: #FA9900;
    color: white;
    font-weight: bold;
}
#tituloCardSpring{
    margin-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid #6DB33F;
    background-color: #6DB33F;
    color: white;
    font-weight: bold;
}
#lugarFecha{
    margin-top: 1rem;
    color: white;
    height: 55vh;
    background:linear-gradient(to bottom,#00000026, #000000c2,#00000026);
    align-items: stretch;
}
.columnaIzq{
    background-image: url("../assets/img/ba4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
}
.columnaDer{
    padding: 1% 1% 0% 1%;
    border:1px solid rgb(0, 0, 0);
    background-color:#353A40;
    color:white;
    text-align: justify;
    color:white;
    height: 55vh;
}
.formularioOrador{
    width:50%;
    height: 35vh;
    margin: 1rem auto 1rem auto !important;
    text-align: center;
}
.wsp{
    position:fixed;
    bottom:10px;
    right: 10px;
    width: 50px;
}
.footer{
    background:linear-gradient( to right, #1d3947,#1d4962, #1e5372) ;
    height: 10vh;
}
.footer .row{
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
}

.contenedorFooter a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/*  diseño para celular */
/*  0 - 600px  */

@media screen and (max-width: 567px){
    .header{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .contenedorLogo{
        width:70%;
    }
    .laConferencia{
        background-color: #6DB33F;
        height: 95vh;
    }
    .carousel-inner{
        height: 60vh;
        /*background-color: #F5DC1D;*/
        image-rendering: crisp-edges;
    }
    .contenedorTextConf{
        background-color: initial;
        position: static;
        margin: 0;
        height: 25%;
        width: initial;
        justify-content: center !important;
        text-align: center;
    }

    #ba1{
        background-image: url(../assets/img/ba1.jpg);
    }


    .padreCards{
        height: initial;
    }
    .formularioOrador{
        height: initial;
    }
    .columnaIzq{
        height: inital;
    }
    .columnaDer{
        height: initial;
        padding-bottom: 1rem;
    }
    .footer{
        height: initial;
        padding: 30px;
    }
    .footer .row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
    }
}